<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/style.css">

  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

  </style>
</head>
<body class="d-flex flex-column min-vh-100">

<!-- *****     Top-Navigation Menu with Title     ***** -->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <p class="navbar-brand" style="color: #5B86E5">Online Subscription Manager</p>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/login">LogIn</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/add">Add Subscription</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
      </ul>
    </div>

  </div>
</nav>

<!-- *****     Main container with 2-column layout     ***** -->

  <div class="container">
  
      <div class="row row-cols-2" style="background-color:#ABC1F2;">
       
        <div class="col-sm-4 text-center" style="font-family:'Calibri'"> 
          <h3 style="color: white">Dont get caught by</h3>
          <h3 style="color: #5B86E5">RECURRING</h3>
          <h3 style="color: #5B86E5">Subscription</h3>
          <h3 style="color: white">Fees, again!</h3>
        
        </div>

        <div class="col-sm-8  text-center" style="background-color: #ABC1F2;">
            {{{ body }}}
        </div>
    </div>
  </div>
  
</body>
</html>