<!--Asks for new user's subscription-->
<form style="background-color: #FFFFFF"  id="addSub">
  <h2 class= "new-sub-logo">New Subscription</h2>
   <div class="form-label">
      <label for="subName1">Name</label>
      <input class="form-control" type="subName" id="subName1">
    </div>
    <div class="form-label">
        <label for="description1">Description</label>
        <input class="form-control" type="description" id="description1">
    </div>
      
    <div class="form-label">
        <label for="link1">Link</label>
        <input class="form-control" type="link" id="link1">
    </div>      
    <div class="form-label">
        <label for="payment1">Payment Amount</label>
        <input class="form-control" type="payment" id="payment1">
    </div>
    <button type="submit" class="btn btn-primary" id="addBtn">Add Subscription</button>
   </form>
  <script src="./js/addSub.js"></script>