<div class="dash-header">
    <button> Add Subscription</button>
    <button>Logout</button>
</div>

{{!-- <!-- {{#each subscription}} -->
<div>
    <!-- <p>Name: {{subscription.subname}}</p> -->

</div> --}}