
<form style="background-color: #FFFFFF">
  <h1>Login</h1>

  <div class="mb-3">
    <label for="email-login" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email-login">
  </div>
  <div class="mb-3">
    <label for="password-login" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-login">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

  <div class="signup-nav">
    <span class="signup-link">You don't have an account?<a href="/signup"> Sign up Here</a></span>
   </div>
</form>


<!--
        <form class="mb-3" id="login-form">
            <h1 class="page-title">Login</h1>
            <div class="form-group">
                <label for="email-login">Email:</label>
                <input class="form-label" type="email" id="email-login">
            </div>
            <div class="form-group">
                <label for="password-login">Password:</label>
                <input class="form-input" type="password" id="password-login">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
            <div class="signup-nav">
                <span class="signup-link">You don't have an account?<a href="/signup"> Sign up Here</a></span>
            </div>
         </form>
-->
<script src="./js/login.js"></script>