<!--Allows user to login-->
<form style="background-color: #FFFFFF"  id="login-form">
  <h1>Login</h1>

  <div class="mb-3">
    <label for="email-login" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email-login">
  </div>
  <div class="mb-3">
    <label for="password-login" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-login">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

  <div class="signup-nav">
    <span class="signup-link">You don't have an account?<a href="/signup"> Sign up Here</a></span>
   </div>
</form>


<script src="./js/login.js"></script>