* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-color: #5B86E5;
}

.row {
    display: flex;
    float: right;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-right: 30px;
}

form {
    display: block;
    width: 100%;
    max-width: 500px;
    padding: 50px 30px;  
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 5px;
}

form h1 {
    margin-bottom: 30px;
    font-size: 30px;
    text-transform: uppercase;
}

form .form-group {
    margin-bottom: 29px;
    width: 500px;
}

form label {
    display: block;
    font-size: 25px;
    margin-bottom: 5px;
}

form input {
    appearance: none;
    outline: none;
    border: none;
    background-color: #5B86E5;
    width: 80%;
    height: 40px;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 24px;
}

form input:not([type="submit"]):focus {
    background-color: #FFFFFF;
    box-shadow: 6px;
}

form button {
    display: block;
    width: 80%;
    padding: 15px;
    background-color: rgb(85, 81, 81);
    color: #82a4ec;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
}


.signup-link {
    font-weight:bold;
    align-self: center;
    float: right;
    margin-right: 80px;
    
}

span a {
    color: #426ecc;
}
@media screen and (max-width: 500px ){
    .row{
        float: left;
        margin-right: 0px;
    }
}