/* Signup */

/* Auto layout */
body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 1973px;
    height: 1150px;
    left: 140px;
    top: 122px;

    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;    
}



/* Never pay another recurring fee by accident, again! */

#leftregion {
    position: static;
    width: 846px;
    height: 70px;
    left: 0px;
    top: 0px;

    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    /* or 120% */
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #5B86E5;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}



/* New Subscription */
#subscription {
    position: static;
    width: 1973px;
    height: 1080px;
    left: 0px;
    top: 70px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;   
}



/* Rectangle 2 */

position: absolute;
width: 1920px;
height: 1080px;
left: 0px;
top: 70px;

background: rgba(91, 134, 229, 0.51);


/* Rectangle 1 */

position: absolute;
width: 1325px;
height: 1080px;
left: 648px;
top: 70px;

background: #FFFFFF;
border-radius: 50px;


/* Already have an account? Login */

position: absolute;
width: 242px;
height: 40px;
left: 1198px;
top: 954px;

font-family: Calibri;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */
letter-spacing: 0.08em;

color: #000000;



/* New Subscription */

position: absolute;
width: 245px;
height: 40px;
left: 1042px;
top: 272px;

font-family: Calibri;
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 40px;
/* identical to box height, or 133% */
letter-spacing: 0.08em;

color: #000000;



/* input-name */

position: absolute;
width: 575px;
height: 47px;
left: 1042px;
top: 332px;



/* Name */

position: absolute;
width: 43px;
height: 40px;
left: 1042px;
top: 332px;

font-family: Calibri;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */
letter-spacing: 0.08em;

color: #9D9D9D;



/* Line 1 */

position: absolute;
width: 575px;
height: 0px;
left: 1042px;
top: 379px;

border: 1px solid #9D9D9D;


/* input-name */

position: absolute;
width: 575px;
height: 47px;
left: 1042px;
top: 408px;



/* Description */

position: absolute;
width: 86px;
height: 40px;
left: 1042px;
top: 408px;

font-family: Calibri;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */
letter-spacing: 0.08em;

color: #9D9D9D;



/* Line 1 */

position: absolute;
width: 575px;
height: 0px;
left: 1042px;
top: 455px;

border: 1px solid #9D9D9D;


/* input-name */

position: absolute;
width: 575px;
height: 47px;
left: 1042px;
top: 484px;



/* Link */

position: absolute;
width: 30px;
height: 40px;
left: 1042px;
top: 484px;

font-family: Calibri;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */
letter-spacing: 0.08em;

color: #9D9D9D;



/* Line 1 */

position: absolute;
width: 575px;
height: 0px;
left: 1042px;
top: 531px;

border: 1px solid #9D9D9D;


/* input-name */

position: absolute;
width: 575px;
height: 47px;
left: 1042px;
top: 554px;



/* Initiation Date */

position: absolute;
width: 108px;
height: 40px;
left: 1042px;
top: 554px;

font-family: Calibri;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */
letter-spacing: 0.08em;

color: #9D9D9D;



/* Line 1 */

position: absolute;
width: 575px;
height: 0px;
left: 1042px;
top: 601px;

border: 1px solid #9D9D9D;


/* input-name */

position: absolute;
width: 575px;
height: 47px;
left: 1042px;
top: 624px;



/* Cycle */

position: absolute;
width: 40px;
height: 40px;
left: 1042px;
top: 624px;

font-family: Calibri;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */
letter-spacing: 0.08em;

color: #9D9D9D;



/* Line 1 */

position: absolute;
width: 575px;
height: 0px;
left: 1042px;
top: 671px;

border: 1px solid #9D9D9D;


/* input-name */

position: absolute;
width: 575px;
height: 47px;
left: 1042px;
top: 704px;



/* Payment Amount */

position: absolute;
width: 130px;
height: 40px;
left: 1042px;
top: 704px;

font-family: Calibri;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */
letter-spacing: 0.08em;

color: #9D9D9D;



/* Line 1 */

position: absolute;
width: 575px;
height: 0px;
left: 1042px;
top: 751px;

border: 1px solid #9D9D9D;


/* input-name */

position: absolute;
width: 575px;
height: 47px;
left: 1042px;
top: 784px;



/* Remind Me */

position: absolute;
width: 86px;
height: 40px;
left: 1042px;
top: 784px;

font-family: Calibri;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */
letter-spacing: 0.08em;

color: #9D9D9D;



/* Line 1 */

position: absolute;
width: 575px;
height: 0px;
left: 1042px;
top: 831px;

border: 1px solid #9D9D9D;


/* Rectangle 7 */

position: absolute;
width: 575px;
height: 60px;
left: 1042px;
top: 875px;

background: #5B86E5;
border-radius: 8px;


/* Add Subscription */

position: absolute;
width: 127px;
height: 40px;
left: 1258px;
top: 885px;

font-family: Calibri;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */
letter-spacing: 0.08em;

color: #FFFFFF;



/* figma.com/@designspacee */

position: absolute;
visibility: hidden;
width: 204px;
height: 40px;
left: 201px;
top: 1084px;

font-family: Calibri;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */
letter-spacing: 0.08em;

color: #FFFFFF;



/* logo */

position: absolute;
width: 303px;
height: 316.23px;
left: 164px;
top: 619px;

filter: drop-shadow(0px 26px 56px rgba(0, 0, 0, 0.25));


/* Rectangle 8 */

position: absolute;
width: 303px;
height: 303px;
left: 164px;
top: 619px;

background: #5B86E5;
border-radius: 0px 120px 120px 0px;


/* S */

position: absolute;
width: 176.18px;
height: 287.23px;
left: 218px;
top: 648px;

font-family: Calibri;
font-style: normal;
font-weight: 300;
font-size: 300px;
line-height: 40px;
/* or 13% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.08em;

color: #ABC1F2;



/* Never pay another recurring fee by accident, again! */

position: absolute;
width: 473px;
height: 236px;
left: 80px;
top: 273px;

font-family: Calibri;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 60px;
/* or 120% */
text-align: center;
letter-spacing: 0.04em;

color: #FFFFFF;
