/* Login */

/* Auto layout */
.login-container{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 122px 154px;

position: absolute;
width: 600px;
height: 700px;
left: -154px;
top: -122px;

background: #5B86E5;
}
/* Frame 1 */

position: static;
width: 1973px;
height: 1150px;
left: 154px;
top: 122px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 10px 0px;


/* Login */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 1973px;
height: 1080px;
left: 0px;
top: 0px;

background: #FFFFFF;
border: 1px solid #DBDBDB;
box-sizing: border-box;


/* login-page */

position: static;
width: 1973px;
height: 1080px;
left: 0px;
top: 0px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;


/* Rectangle 2 */

position: absolute;
width: 1920px;
height: 1080px;
left: 0px;
top: 0px;

background: rgba(91, 134, 229, 0.51);


/* Rectangle 1 */

position: absolute;
width: 1325px;
height: 1080px;
left: 648px;
top: 0px;

background: #FFFFFF;
border-radius: 50px;


/* Sign-in */

position: absolute;
width: 96px;
height: 40px;
left: 1023px;
top: 321px;

font-family: Calibri;
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 40px;
/* identical to box height, or 133% */
letter-spacing: 0.08em;

color: #000000;



/* login-content */

position: absolute;
width: 575px;
height: 286px;
left: 1023px;
top: 473px;



/* Don’t have an account? Signup Here */

position: absolute;
width: 277px;
height: 40px;
left: 1179px;
top: 719px;

font-family: Calibri;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */
letter-spacing: 0.08em;

color: #000000;



/* input-name */

position: absolute;
width: 575px;
height: 47px;
left: 1023px;
top: 473px;



/* Email */

position: absolute;
width: 41px;
height: 40px;
left: 1023px;
top: 473px;

font-family: Calibri;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */
letter-spacing: 0.08em;

color: #9D9D9D;



/* Line 1 */

position: absolute;
width: 575px;
height: 0px;
left: 1023px;
top: 520px;

border: 1px solid #9D9D9D;


/* input-name */

position: absolute;
width: 575px;
height: 47px;
left: 1023px;
top: 549px;



/* Password */
#password{
position: absolute;
width: 71px;
height: 40px;
left: 1023px;
top: 549px;

font-family: Calibri;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */
letter-spacing: 0.08em;

color: #9D9D9D;
}


/* Line 1 */

position: absolute;
width: 575px;
height: 0px;
left: 1023px;
top: 596px;

border: 1px solid #9D9D9D;


/* Rectangle 7 */

position: absolute;
width: 575px;
height: 60px;
left: 1023px;
top: 640px;

background: #5B86E5;
border-radius: 8px;


/* Login */

position: absolute;
width: 40px;
height: 40px;
left: 1286px;
top: 650px;

font-family: Calibri;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */
letter-spacing: 0.08em;

color: #FFFFFF;



/* figma.com/@designspacee */

position: absolute;
visibility: hidden;
width: 204px;
height: 40px;
left: 201px;
top: 1014px;

font-family: Calibri;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */
letter-spacing: 0.08em;

color: #FFFFFF;



/* logo */

position: absolute;
width: 303px;
height: 316.23px;
left: 165px;
top: 589px;

filter: drop-shadow(0px 26px 56px rgba(0, 0, 0, 0.25));


/* Rectangle 8 */

position: absolute;
width: 303px;
height: 303px;
left: 165px;
top: 589px;

background: #5B86E5;
border-radius: 0px 120px 120px 0px;


/* S */

position: absolute;
width: 176.18px;
height: 287.23px;
left: 219px;
top: 618px;

font-family: Calibri;
font-style: normal;
font-weight: 300;
font-size: 300px;
line-height: 40px;
/* or 13% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.08em;

color: #ABC1F2;

